<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>
                <span class="fa fa-users"></span> Todos os usuários</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/users/new">Adicionar um novo usuário</a>
            </p>
            <p>
                <form action="/users" method="GET" class="form-inline" id="user-search">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Procurar usuário..." class="form-control">
                    </div>
                </form>
            </p>
        </div>
    </header>

    <div class="row text-center flex-wrap" id="user-grid">
        <% users.forEach(function(user){ %>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= user.name %></h5>
                        <p class="card-text"><%= user.email %></p>
                        <p class="card-text"><%= user.cpf %></p>
                        <a class="btn btn-warning card-link" href="/users/<%= user._id %>/edit">Editar</a>
                        <form action="/users/<%= user._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-danger card-link">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>

    <% include ../partials/footer %>